<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Shop Smarter – Shop Online!</p>
						<h1>Payment</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

    <div class="mt-5 mb-5 p-5 text-dark text-center">
        <h2 class="text-success">Payment Successful</h2>
    </div>



{% endblock %}